
table {
    width: 30%;
}

table tr:nth-child(even) {
    background-color: #b8adad;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

table th {
    background-color: #a9c6c8;
    color: rgb(5, 1, 1);
}

table tfoot {
    font-weight: bold;
}