table {
    width: 30%;
}

table tr:nth-child(even) {
    background-color: #e7d6d6;
}

table tr:nth-child(odd) {
    background-color: #f7efef;
}

table th {
    background-color: #aad2d4;
    color: rgb(5, 1, 1);
}

table tfoot {
    font-weight: bold;
}